<mat-card [style.background]="colorPrimario">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

</mat-card>
<br>
<br>


<mat-card [style.background]="colorTerciario" class="cards">Simple card</mat-card>
<br>
<br>
<mat-card>
    <img mat-card-image [src]="imagen" alt="">

</mat-card>
<br>
<br>
<button mat-button [style.background]="colorSecundario">Basic</button>
<br>
<br>

<hr>
<button (click)="getIdentidad()">Obtener</button>
<br>
<br>
<div class="example-container">
    <mat-form-field hintLabel="Max 7 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="7" placeholder="Color Primario" [(ngModel)]="primario" [value]="primario">
        <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 7 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="7" placeholder="Color Secundario" [(ngModel)]="secundario" [value]="secundario">
        <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 7 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="7" placeholder="Color Terciario" [(ngModel)]="terciario" [value]="terciario">
        <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 7 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="200" placeholder="Url" [(ngModel)]="imagenNueva" [value]="imagenNueva">
        <mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
    </mat-form-field>

    <button (click)="CambiarColor()">Guardar</button>
</div>